<a href="https://colab.research.google.com/github/hansolothe3rd/Food-Sales-Predictions/blob/main/Food_Sales_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 1 - Part 5
- Daniel Barella
- 11/11/22

In [113]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [114]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, \
OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn import set_config
set_config(display='diagram')

# Assignment:

We will continue to work on your sales prediction project. The goal of this step is to help the retailer by using machine learning to make predictions about future sales based on the data provided.

For Part 5, you will go back to your original, uncleaned, sales prediction dataset with the goal of preventing data leakage.

You should reload the original data set here using pd.read_csv() to ensure there is no data leakage!

- Before splitting your data, you can drop duplicates and fix inconsistencies in categorical data.* (*There is a way to do this after the split, but for this project, you may perform this step before the split)
- Identify the features (X) and target (y): Assign the "Item_Outlet_Sales" column as your target and the rest of the relevant variables as your features matrix.
- Perform a train test split
- Create a preprocessing object to prepare the dataset for Machine Learning
- Make sure your imputation of missing values occurs after the train test split 
using SimpleImputer.

## Here is the Data Dictionary for this dataset:


Variable Name	 :  Description

Item_Identifier	 :  Unique product ID

Item_Weight	 :  Weight of product

Item_Fat_Content :	Whether the product is low fat or regular

Item_Visibility	:  The percentage of total display area of all products in a store allocated to the particular product

Item_Type	 : The category to which the product belongs

Item_MRP	:  Maximum Retail Price (list price) of the product

Outlet_Identifier	 :  Unique store ID

Outlet_Establishment_Year	 :  The year in which store was established

Outlet_Size	 :  The size of the store in terms of ground area covered

Outlet_Location_Type	:   The type of area in which the store is located

Outlet_Type	 :  Whether the outlet is a grocery store or some sort of supermarket


Item_Outlet_Sales	 :  Sales of the product in the particular 
store. This is the target variable to be predicted.

In [115]:
df = pd.read_csv('/content/sales_predictions (1).csv')

In [116]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [117]:
sp_ml = df.copy()

In [118]:
sp_ml

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

## [X] Before splitting your data, you can drop duplicates and fix inconsistencies in categorical data.

In [119]:
sp_ml.drop(['Item_Identifier','Outlet_Identifier'], axis=1, inplace=True)

In [120]:
sp_ml.isna().sum()

Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [121]:
sp_ml.duplicated().sum()

0

In [122]:
sp_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                7060 non-null   float64
 1   Item_Fat_Content           8523 non-null   object
 2   Item_Visibility            8523 non-null   float64
 3   Item_Type                  8523 non-null   object
 4   Item_MRP                   8523 non-null   float64
 5   Outlet_Establishment_Year  8523 non-null   int64
 6   Outlet_Size                6113 non-null   object
 7   Outlet_Location_Type       8523 non-null   object
 8   Outlet_Type                8523 non-null   object
 9   Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 666.0+ KB

In [123]:
sp_ml.describe(include='all')

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
count,7060.000000,8523,8523.000000,8523,8523.000000,8523.000000,6113,8523,8523,8523.000000
unique,NaN,5,NaN,16,NaN,NaN,3,3,4,NaN
top,NaN,Low Fat,NaN,Fruits and Vegetables,NaN,NaN,Medium,Tier 3,Supermarket Type1,NaN
freq,NaN,5089,NaN,1232,NaN,NaN,2793,3350,5577,NaN
mean,12.857645,NaN,0.066132,NaN,140.992782,1997.831867,NaN,NaN,NaN,2181.288914
std,4.643456,NaN,0.051598,NaN,62.275067,8.371760,NaN,NaN,NaN,1706.499616
min,4.555000,NaN,0.000000,NaN,31.290000,1985.000000,NaN,NaN,NaN,33.290000
25%,8.773750,NaN,0.026989,NaN,93.826500,1987.000000,NaN,NaN,NaN,834.247400
50%,12.600000,NaN,0.053931,NaN,143.012800,1999.000000,NaN,NaN,NaN,1794.331000
75%,16.850000,NaN,0.094585,NaN,185.643700,2004.000000,NaN,NaN,NaN,3101.296400
max,21.350000,NaN,0.328391,NaN,266.888400,2009.000000,NaN,NaN,NaN,13086.964800

In [124]:
sp_ml.nunique

<bound method DataFrame.nunique of       Item_Weight Item_Fat_Content  Item_Visibility              Item_Type  \
0           9.300          Low Fat         0.016047                  Dairy
1           5.920          Regular         0.019278            Soft Drinks
2          17.500          Low Fat         0.016760                   Meat
3          19.200          Regular         0.000000  Fruits and Vegetables
4           8.930          Low Fat         0.000000              Household
...           ...              ...              ...                    ...
8518        6.865          Low Fat         0.056783            Snack Foods
8519        8.380          Regular         0.046982           Baking Goods
8520       10.600          Low Fat         0.035186     Health and Hygiene
8521        7.210          Regular         0.145221            Snack Foods
8522       14.800          Low Fat         0.044878            Soft Drinks

      Item_MRP  Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0     249.8092                       1999      Medium               Tier 1
1      48.2692                       2009      Medium               Tier 3
2     141.6180                       1999      Medium               Tier 1
3     182.0950                       1998         NaN               Tier 3
4      53.8614                       1987        High               Tier 3
...        ...                        ...         ...                  ...
8518  214.5218                       1987        High               Tier 3
8519  108.1570                       2002         NaN               Tier 2
8520   85.1224                       2004       Small               Tier 2
8521  103.1332                       2009      Medium               Tier 3
8522   75.4670                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 10 columns]>

In [125]:
sp_ml['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [126]:
sp_ml['Item_Fat_Content'] = sp_ml['Item_Fat_Content'].replace('LF', 'Low Fat')
sp_ml['Item_Fat_Content'] = sp_ml['Item_Fat_Content'].replace('reg', 'Regular')
sp_ml['Item_Fat_Content'] = sp_ml['Item_Fat_Content'].replace('low fat', 'Low Fat')
sp_ml['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [127]:
sp_ml['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [128]:
sp_ml['Outlet_Size'] = sp_ml['Outlet_Size'].replace('High', 'Large')
sp_ml['Outlet_Size'].value_counts()

Medium    2793
Small     2388
Large      932
Name: Outlet_Size, dtype: int64

## [X] Identify the features (X) and target (y): Assign the "Item_Outlet_Sales" column as your target and the rest of the relevant variables as your features matrix.

In [129]:
X = sp_ml.drop(columns=['Item_Outlet_Sales'])
y = sp_ml['Item_Outlet_Sales']

## [X] Perform a train test split

In [130]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.30 , random_state=42)

In [131]:
categoricals = X_train.select_dtypes(include='object')

for col in categoricals.columns:
  print(col)
  print(categoricals[col].value_counts(), '\n')

Item_Fat_Content
Low Fat    3860
Regular    2106
Name: Item_Fat_Content, dtype: int64

Item_Type
Fruits and Vegetables    905
Snack Foods              835
Household                648
Frozen Foods             591
Dairy                    474
Canned                   450
Baking Goods             438
Health and Hygiene       365
Soft Drinks              305
Meat                     275
Hard Drinks              162
Breads                   159
Others                   124
Starchy Foods            116
Breakfast                 80
Seafood                   39
Name: Item_Type, dtype: int64

Outlet_Size
Medium    1960
Small     1667
Large      649
Name: Outlet_Size, dtype: int64

Outlet_Location_Type
Tier 3    2367
Tier 2    1957
Tier 1    1642
Name: Outlet_Location_Type, dtype: int64

Outlet_Type
Supermarket Type1    3893
Grocery Store         744
Supermarket Type3     668
Supermarket Type2     661
Name: Outlet_Type, dtype: int64

## [X] Create a preprocessing object to prepare the dataset for Machine Learning

In [132]:
scaler = StandardScaler()
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

mean_imputer = SimpleImputer(strategy='mean')
freq_imputer = SimpleImputer(strategy='most_frequent')

missing_imputer = SimpleImputer(strategy='constant', fill_value='missing')

In [166]:
outlet_size_lables = ['Small','Medium','Large']
 
ordinal = OrdinalEncoder(categories = outlet_size_lables)

In [167]:
num_pipeline = make_pipeline(mean_imputer, scaler)
ord_pipeline = make_pipeline(freq_imputer, ordinal)
nom_pipeline = make_pipeline(missing_imputer, ohe)

In [163]:
ordinal_cols = ['Outlet_Size']
nominal_cols = ['Item_Fat_Content','Item_Type','Outlet_Location_Type','Outlet_Type']

num_selector = make_column_selector(dtype_include='number')

numeric_tuple = (num_pipeline, num_selector)
ordinal_tuple = (ord_pipeline, ordinal_cols)
nominal_tuple = (nom_pipeline, nominal_cols)

In [164]:
preprocessor = make_column_transformer(ordinal_tuple, 
                                          numeric_tuple, 
                                          nominal_tuple, 
                                          remainder='drop')

## [X] Make sure your imputation of missing values occurs after the train test split using SimpleImputer.

In [165]:
preprocessor.fit(X_train)

ValueError: ignored